body {
	font-family: arial;
}

.title {
	text-align: center;
}

.succeed-info
{
	padding: 2rem 10% 3rem;
	margin-bottom: 1rem;
	box-sizing: border-box;
}


.pre-footer {
	vertical-align: top;
	background-color: #17045D;
	margin-left: 0;
	padding: 0;
	box-sizing: border-box;
	margin-bottom: 7px;
}



li{
	list-style: none;
}

.container {
	display: flex;
	padding: 10px;
}

.about-us, .careers, .follow-us, .contact-us {
	margin-right: 120px;
}
	
section h3 {
	color: white;
}

section p {
	color: white;
	margin: 0;
	padding: 6px 0;
}


