body {
    font-family: 'Zilla Slab', serif;
}

.tuitt-button{
    background-color: #c2195b;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    text-align: right;
    display: inline-block;
    font-weight: bold;
    float: right;
    margin-top: ;
    position: relative;
    top: 15px;
    border: none;
}

.title{
    color: white;
    float: right;
    margin-left: 50%;
    width: 450px;
}

.subtitle{
    color: white;
    font-family: sans-serif;
    float: right;
    margin-left: 70%;
    text-align: right;
    font-weight: initial;
}
    

.bg-image {
    min-height: 50vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: scroll;
/*    background-color: black;*/
    filter: brightness(50%);
    position: relative;
}

.front-bg{
    min-height: 50vh;
    display: inline-block;
    position: relative;
    float: right;

}

.title, .title-2{
    
    font-size: 2rem;
}


.apply-button{
    background-color: #c2195b;
    border-radius: 50px;
    color: white;
    padding: 15px 60px;
    text-align: right;
/*    display: inline-block;*/
/*    float: right;*/
    margin-right: 10em;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 250px;
    border: none;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
} 

nav {
    padding: 5px 80px;
    position: sticky;
    top: 0;
}


.right-nav {
    position: absolute;
    right: 150px;
}

.nav {
    position: relative;
    bottom: 60px;
    padding: 0 8px;
}

.container {
    text-align: right;
    padding-right: 150px;
    position: relative;
    bottom: 380px;
}

.container>h3 {
    color: white;
}


.intro {
    text-align: center;
    position: relative;
    bottom: 300px;
}

.intro-description {
    margin: 0 auto;
    padding-top: 40px;
    width: 900px;
    text-align: left;
}

.pre-footer {
    text-align: center;
    position: relative;
    bottom: 250px;
}

.prefooter-description {
    margin: 0 auto;
    width: 750px;
}

.book-button {
    background-color: #336589;
    border-radius: 50px;
    color: white;
    padding: 10px 45px;
    text-align: center;
    display: inline-block;
    float: center;
    margin-right: 50em;
    font-weight: bold;
    border: none;
    position: relative;
    left: 340px;
    margin-top: 30px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    bottom: 200px;

}

span {
    padding: 0 10px;
}
